.Section1 {
    position: relative;
    bottom: -90px;
    left: 50%;
    width: 900px;
    padding: 40px;
    transform: translateX(-50%);
    background: #6a6c6e;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.form-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
}

.form-title {
    margin: 2px 0 6px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: black;
    cursor: pointer;
}

.system {
    position: relative;
    margin-bottom: 30px;
}

.system input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.system label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.system input:focus~label,
.system input:valid~label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.submit-button {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background: #dc3545;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.back {
    font-size: 16px;
    color: #211f1f;
    background: #d2c5b0;
    cursor: pointer;
}

.submit-button:hover {
    background: #605b9b;
}

.back:hover {
    background: #dc6e0e;
}

@media (max-width: 768px) {
    .Section1 {
        padding: 20px;
    }

    .form-title {
        margin-bottom: 15px;
    }

    .system,
    .system label {
        font-size: 14px;
    }

    .submit-button,
    .back {
        font-size: 14px;
        padding: 8px;
    }
}