@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    height: auto;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    color: #343434;
    font-family: 'Poppins', sans-serif;
}



.neumorphic-card {
    background-color: #e0e0e0;
    width: 400px;
    height: auto;
    margin: 23px;
    padding: 22px;
    border-radius: 10px;
}

.neumorphic-card img {
    width: 180px;
    height: auto;
    margin: 0 auto;
    display: block;
    padding: 10px;
}

/* .neumorphic-form {
    margin: 2rem 0;
} */

.neumorphic-input-wrapper {
    width: 100%;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
}

.neumorphic-input-wrapper label {
    font-size: 0.9rem;
    font-weight: 400;
    margin-left: 0.8rem;
}

.neumorphic-input-wrapper input {
    border: none;
    outline: none;
    background: none;
    background-color: #e0e0e0;
    padding: 0.8rem 1.1rem;
    border-radius: 20px;
    margin: 8px 0 8px 0;
    font-size: 1.2rem;
    color: #0dafeb;
    box-shadow:
        inset 5px 5px 11px rgba(0, 0, 0, 0.2),
        inset -5px -5px 11px rgba(255, 255, 255, 0.75);
}

.neumorphic-input-wrapper input::placeholder {
    font-size: 14px;
}

.neumorphic-form button {
    border: none;
    outline: none;
    background: none;
    width: 100%;
    margin: 6px 0 1px 0;
    margin-bottom: 16px;
    cursor: pointer;
    font-size: 1.2rem;
    color: #fff;
    text-transform: capitalize;
    padding: 0.9rem;
    border-radius: 20px;
    background-color: #0dafeb;

}

.neumorphic-form button:active {
    box-shadow:
        inset 5px 5px 11px rgba(0, 0, 0, 0.2),
        inset -5px -5px 11px rgba(255, 255, 255, 0.75);
}






.password-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
}

.password-wrapper input {
    padding-left: 2.5rem;


    padding-left: 1.1rem;
    border-radius: 20px;
    margin: 8px 0 8px 0;
    font-size: 1.2rem;


}

.password-icon {
    position: absolute;
    right: 14px;
    top: 63%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #0dafeb;
    cursor: pointer;
}













/* Additional styles for smaller screens */
@media only screen and (max-width: 600px) {
    .neumorphic-card {
        width: 90%;
        margin: 1rem auto;
    }
}

/* Additional styles for even smaller screens */
@media only screen and (max-width: 400px) {
    .neumorphic-card {
        width: 80%;
        margin: 1rem auto;
    }
}