@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    height: auto;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    color: #343434;
    font-family: 'Poppins', sans-serif;
}


.login-card {
    background-color: #e0e0e0;

    /* background: linear-gradient(to bottom,
            #e25757 0%,
            #b4d2ac 33.33%,
            #8cb8c1 33.33%,
            #bab0cc 66.66%,
            #f8d7d7 66.66%); */
    width: 400px;
    height: auto;
    margin: 26px;
    padding: 22px;
    border-radius: 10px;

    /* box-shadow:
        10px 10px 20px rgba(0, 0, 0, 0.2),
        -10px -10px 20px rgba(255, 255, 255, 0.75); */
}

.login-card img {
    width: 180px;
    height: auto;
    margin: 0 auto;
    display: block;
    padding: 10px;
}


.login-form-input {
    width: 100%;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
}

.login-form-input label {
    font-size: 0.9rem;
    font-weight: 400;
    margin-left: 0.8rem;
}

.login-form-input input {
    border: none;
    outline: none;
    background: none;
    background-color: #e0e0e0;
    padding: 0.8rem 1.1rem;
    border-radius: 20px;
    margin: 8px 0 8px 0;
    font-size: 1.2rem;
    color: #0dafeb;
    box-shadow:
        inset 5px 5px 11px rgba(0, 0, 0, 0.2),
        inset -5px -5px 11px rgba(255, 255, 255, 0.75);
}

.login-form-input input::placeholder {
    font-size: 14px;
}

.login-form button {
    border: none;
    outline: none;
    background: none;
    width: 100%;
    margin: 6px 0 1px 0;
    margin-bottom: 16px;
    cursor: pointer;
    font-size: 1.2rem;
    color: #fff;
    text-transform: capitalize;
    padding: 0.9rem;
    border-radius: 20px;
    background-color: #0dafeb;

}

/* user icon  */
.login-form-input:nth-child(1) input {
    padding-left: 3rem;
    background: url('../Assets/icons/p1.png') no-repeat;
    background-position: 1rem center;
    background-size: 20px 20px;
    padding-bottom: 17px;

}

/* password icon  */
.login-form-input:nth-child(2) input {
    padding-left: 3rem;
    background: url('../Assets/icons/l1.png') no-repeat;
    background-position: 1rem center;
    background-size: 20px 20px;
}


/* See the Password icon */
.password-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
}

.password-wrapper input {
    padding-left: 2.5rem;
    padding-left: 1.1rem;
    border-radius: 20px;
    margin: 8px 0 8px 0;
    font-size: 1.2rem;
}

.password-icon {
    position: absolute;
    right: 14px;
    top: 63%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #0dafeb;
    cursor: pointer;
}

/* Additional styles for smaller screens */
@media only screen and (max-width: 600px) {
    .login-card {
        width: 90%;
        margin: 1rem auto;
    }
}

/* Additional styles for even smaller screens */
@media only screen and (max-width: 400px) {
    .login-card {
        width: 80%;
        margin: 1rem auto;
    }
}