.item-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.item-text {
    margin-right: 8px;
}

.btn-link {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 !important;
    font-size: 24px!important;
}

.input-field {
    width: 100%;
    padding: 7px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.5;
}

.input-field:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.is-invalid {
    border-color: #dc3545;
}

.invalid-feedback {
    color: #dc3545;
    display: block;
}
.css-19z1ozs-MuiPaper-root-MuiAppBar-root{
    background-color: #a20000!important;
}
.css-1191obr-MuiPaper-root-MuiAppBar-root{
    background-color: #a20000 !important;
}
/* .card{
    height: 500px!important;
} */
canvas{
    height: 350px !important;
   
}
canvas:hover{
    cursor: pointer !important;
}
.card1 canvas{
    margin-left: 80px;
}
/* DataTableComponent.css */

.plus img {
    width: 100%; /* Ensure full width within its container */
    max-width: 50px; /* Set a reasonable max width */
    height: auto; /* Maintain aspect ratio */
  }
  
  @media (max-width: 768px) {
    .plus img {
      max-width: 50px; /* Reduce size on smaller screens */
    }
  }
  
  @media (max-width: 576px) {
    .plus img {
    max-width: 50px; /* Further reduce size on extra small screens */
    }
  }
  .export-button {
    margin-left: 1px; /* Add some margin to the left to avoid overlap */
    white-space: nowrap; /* Ensure the text doesn't wrap */
  }
  @media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1250px;
    }
}