.item-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.item-text {
    margin-right: 8px;
}

.btn-link {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: 24px;
}

.input-field {
    width: 100%;
    padding: 7px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.5;
}

.input-field:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.is-invalid {
    border-color: #dc3545;
}

.invalid-feedback {
    color: #dc3545;
    display: block;
}
.css-19z1ozs-MuiPaper-root-MuiAppBar-root{
    background-color: #a20000!important;
}
.css-1191obr-MuiPaper-root-MuiAppBar-root{
    background-color: #a20000 !important;
}