/* Global styles */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

.mainCard {
    width: 100%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.mainCard h2 {
    color: #a99e9e;
}

.fullPage {
    width: 100%;
    border-radius: 15px;
    margin: 50px 0;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    position: relative;
    /* background-image: url('../../../public/Assets/Images/black.webp'); */
    background-color: #6a6c6e;
    background-size: cover;
    overflow: hidden;
}

.fullPage .form-detail {
    padding: 30px;
}

.fullPage .form-detail h2 {
    font-size: 35px;
    text-align: center;
    padding: 16px 0 13px;
    margin-bottom: 30px;
}

.fullPage .form-detail h2::after {
    background: #fff;
    width: 73px;
    height: 3px;
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.fullPage .subCard1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fullPage .subCard2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fullPage .subCard3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fullPage .row {
    width: 33%;
    margin-bottom: 20px;
}

.fullPage .form-detail .input-text {
    margin-bottom: 20px;
}

.fullPage .form-detail input {
    width: 100%;
    padding: 14.5px 15px;
    border: 2px solid #ccc;
    outline: none;
    border-radius: 27.5px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 700;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
}

.fullPage .form-detail input:focus {
    border: 2px solid #999;
}

.fullPage .form-detail .register {
    background: #f25d5d;
    border-radius: 25px;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border: none;
    margin: 20px 0 73px;
    cursor: pointer;
    /* color: #fff; */
    font-weight: 700;
    font-size: 16px;
}

.fullPage .form-detail .register:hover {
    background: #d95252;
}

.fullPage .NewParty {
    cursor: pointer;
    border-radius: 15px;
    padding: 5px;
    box-shadow: 0px 8px 16px 0px rgba(84, 193, 30, 0.2);
    display: flex;
    ;
    background-color: #c3cdd7;
}

input::placeholder {
    color: #222020;
    font-size: 16px;
}